InheritParentConfig: true
ExtraArgsBefore:
  - -std=c11

CheckOptions:
  - { key: readability-identifier-naming.StructCase,                        value: lower_case }
  - { key: readability-identifier-length.MinimumParameterNameLength,        value: 2 }
