[workspace]
resolver = "2"
members = [
    "iceoryx2-bb/lock-free/",
    "iceoryx2-bb/threadsafe/",
    "iceoryx2-bb/container",
    "iceoryx2-bb/elementary",
    "iceoryx2-bb/log",
    "iceoryx2-bb/memory",
    "iceoryx2-bb/posix",
    "iceoryx2-bb/system-types",
    "iceoryx2-bb/testing",

    "iceoryx2-cal",
    "iceoryx2",
    "iceoryx2-pal/concurrency-primitives",
    "iceoryx2-pal/posix/",
    "iceoryx2-pal/configuration/",

    "examples",

    "benchmarks/publish-subscribe"
]

[workspace.package]
categories = ["network-programming"]
description = "Iceoryx2: Lock-Free Zero-Copy Interprocess Communication"
edition = "2021"
homepage = "https://iceoryx.io"
keywords = ["zero-copy", "ipc", "shared-memory", "publish-subscribe", "request-response"]
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/eclipse-iceoryx/iceoryx2"
rust-version = "1.72.1"
version = "0.0.1"

[workspace.dependencies]
iceoryx2-bb-threadsafe = { version = "0.0.1", path = "iceoryx2-bb/threadsafe/" }
iceoryx2-bb-lock-free = { version = "0.0.1", path = "iceoryx2-bb/lock-free/" }
iceoryx2-bb-container = { version = "0.0.1", path = "iceoryx2-bb/container/" }
iceoryx2-bb-elementary = { version = "0.0.1", path = "iceoryx2-bb/elementary/" }
iceoryx2-bb-log = { version = "0.0.1", path = "iceoryx2-bb/log/" }
iceoryx2-bb-memory = { version = "0.0.1", path = "iceoryx2-bb/memory/" }
iceoryx2-bb-posix = { version = "0.0.1", path = "iceoryx2-bb/posix/" }
iceoryx2-bb-system-types = { version = "0.0.1", path = "iceoryx2-bb/system-types/" }
iceoryx2-bb-testing = { version = "0.0.1", path = "iceoryx2-bb/testing/" }

iceoryx2-pal-concurrency-primitives = { version = "0.0.1", path = "iceoryx2-pal/concurrency-primitives/" }
iceoryx2-pal-posix = { version = "0.0.1", path = "iceoryx2-pal/posix/" }
iceoryx2-pal-configuration = { version = "0.0.1", path = "iceoryx2-pal/configuration/" }

iceoryx2-cal = { version = "0.0.1", path = "iceoryx2-cal" }

iceoryx2 = { version = "0.0.1", path = "iceoryx2/" }

bindgen = { version = "0.65.1" }
bitflags = { version = "1.3.2" }
cc = { version = "1.0" }
cdr = { version = "0.2.4" }
clap = { version = "3.2.0", features = ["derive"] }
enum-iterator = { version = "1.2.0" }
generic-tests = { version = "0.1.2" }
lazy_static = { version = "1.4.0" }
log = { version = "0.4.20" }
once_cell = { version = "1.16.0" }
ouroboros = { version = "0.17.2" }
pin-init = { version = "0.2.0" }
serde = { version = "1.0.139", features = ["derive"] }
sha1_smol = { version = "1.0.0" }
termsize = { version = "0.1" }
tiny-fn = { version = "0.1.5" }
toml = { version = "0.5.9" }
tracing = { version = "0.1.40" }
windows-sys = { version = "0.48.0", features = ["Win32_Security", "Win32_Security_Authorization", "Win32_System_Memory", "Win32_System_Threading", "Win32_Foundation", "Win32_System_WindowsProgramming", "Win32_Storage_FileSystem", "Win32_System_IO", "Win32_System_Diagnostics_Debug", "Win32_System_SystemInformation", "Win32_System_Diagnostics_ToolHelp", "Win32_System_Console", "Win32_Networking_WinSock"] }

[profile.release]
strip = true
lto = true
# opt-level = "z"
panic = "abort"
