InheritParentConfig: true

CheckOptions:
  - { key: readability-identifier-naming.ConstantCase,            value: UPPER_CASE }
  - { key: readability-identifier-naming.MacroDefinitionPrefix,   value: "" }
