[package]
name = "iceoryx2-bb-print"
description = "iceoryx2: [internal] abstraction over character printing"
categories = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[features]
default = []

std = ["iceoryx2-pal-print/std"]

[dependencies]
iceoryx2-pal-print = { workspace = true }

[lints]
workspace = true
