[package]
name = "iceoryx2-pal-testing"
description = "iceoryx2: [internal] simple testing primitives"
categories = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[features]
default = []

std = [
  "iceoryx2-pal-print/std",
  "iceoryx2-pal-concurrency-sync/std"
]

[dependencies]
iceoryx2-pal-configuration = { workspace = true }
iceoryx2-pal-print = { workspace = true }
iceoryx2-pal-concurrency-sync = { workspace = true }
