[package]
name = "iceoryx2-bb-testing"
description = "iceoryx2: [internal] simple testing primitives"
categories = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[dependencies]
iceoryx2-pal-configuration = { workspace = true }
iceoryx2-pal-concurrency-sync = { workspace = true }
