[package]
name = "iceoryx2-bb-testing"
description = "iceoryx2: [internal] simple testing primitives"
categories = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }

[features]
default = []

std = [
  "iceoryx2-pal-testing/std",
]

[dependencies]
iceoryx2-bb-elementary-traits = { workspace = true }
iceoryx2-bb-concurrency = { workspace = true }
iceoryx2-pal-configuration = { workspace = true }
iceoryx2-pal-testing = { workspace = true }
