name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, release*]
    types: [opened, ready_for_review, reopened, synchronize]

jobs:
  changes:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      source-code: ${{ steps.filter.outputs.source-code }}
      markdown: ${{ steps.filter.outputs.markdown }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Check for changed file types
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # version: v3.0.2
        id: filter
        with:
          filters: |
            source-code:
              - '!**/*.md'
            markdown:
              - '**/*.md'

############################## Begin section initial checks ##############################

  preflight-check:
    needs: changes
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Check format of all commit messages
        run: ./internal/scripts/ci_test_commit_msg.sh

      - name: Check license header
        run: ./internal/scripts/ci_test_spdx_license_header.sh

  linting-markdown:
    needs: changes
    if: ${{ needs.changes.outputs.markdown == 'true' }}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # version: v6.1.0
        with:
          node-version: "24"

      - name: Install linters
        run: npm install -g markdownlint-cli@0.47.0

      - name: Check linting
        run: ./internal/scripts/ci_check_markdown_linting.sh --all

      - name: Check config key documentation
        run: ./internal/scripts/ci_check_description_vector_and_README.sh

  # First rust code analysis with Ubuntu only
  static-code-analysis-rust:
    needs: preflight-check
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    uses: ./.github/workflows/reuse_static_code_analysis.yml
    with:
      os: ubuntu-latest
      cargo-features-flag: ""

  static-code-analysis-cpp:
    needs: preflight-check
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    timeout-minutes: 40
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Install clang-tidy and clang-format
        uses: ./.github/actions/install-iceoryx-deps-and-clang

      - name: clang-format version
        run: clang-format --version

      - name: clang-tidy version
        run: clang-tidy --version

      - name: cmake version
        run: cmake --version

      - name: Run clang-format
        run: git ls-files | grep -E "\.(c|cc|cpp|cxx|inl|h|hh|hpp|hxx)$" | xargs clang-format -i -style=file --Werror --dry-run

      - name: Run clang-tidy
        run: |
          git fetch origin main
          internal/scripts/clang_tidy_scan.sh warning-as-error diff-to-main

  # Static Code Analysis on other variants
  static-code-analysis-rust-extended:
    needs: [preflight-check, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        os: [macOS-latest]
        cargo-features-flag: [""]
        include:
          - os: ubuntu-latest
            cargo-features-flag: "--features libc_platform"
    uses: ./.github/workflows/reuse_static_code_analysis.yml
    with:
      os: ${{ matrix.os }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  # just to have a sync point for the first C++ and Rust static code analysis
  # once the first quick checks have passed we have the confidence to continue
  # with the remaining CI jobs
  static-code-analysis:
    needs: [static-code-analysis-cpp, static-code-analysis-rust]
    runs-on: ubuntu-latest
    steps:
      - name: Static code analysis sync point
        run: echo "Nothing to see, move along!"


############################## End section initial checks ##############################

############################## Begin section Build & Test ##############################

  cargo-nextest:
    needs: preflight-check
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1
      - name: Build and cache cargo-nextest
        uses: ./.github/actions/build-and-cache-rust-tool
        with:
          rust-toolchain: stable
          check-and-install-cmd: cargo-nextest --version > /dev/null || cargo install cargo-nextest --locked
          print-version-cmd: cargo-nextest --version
          # increment cache-N-${{}} if a new nextest version is required
          cache-key: cache-2-${{ runner.os }}-cargo-nextest
          artifact-bin-name: cargo-nextest
          artifact-upload-name: ${{ runner.os }}-cargo-nextest

  python-bindings:
    needs: [preflight-check, static-code-analysis, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Set Up Python & Install Poetry
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # version: v6.0.1
        with:
          python-version: "3.13"
      - run: pip install poetry==2.2.1
      - run: pip install poetry-plugin-shell==1.0.1

      - name: Install Python Dependencies
        run: poetry --project iceoryx2-ffi/python install

      - name: Build Python Bindings
        run: poetry --project iceoryx2-ffi/python build-into-venv

      - name: Test Python Bindings
        run: poetry --project iceoryx2-ffi/python test

      - name: Run Static Analysis
        run: poetry --project iceoryx2-ffi/python static-analysis

  end-to-end-tests:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        toolchain: [stable]
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@802fa1a2c4e212495c05bf94dba2704a92a472be # version: v2.0.2
        with:
          cmake-version: "3.31.x"
      - name: Use cmake
        run: cmake --version

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: i686-unknown-linux-gnu, armv7r-none-eabihf

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba # version: v0.0.9

      - name: Set caching env vars on non-Windows
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Set Up Python & Install Poetry
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # version: v6.0.1
        with:
          python-version: "3.13"
      - run: pip install poetry==2.2.1
      - run: pip install poetry-plugin-shell==1.0.1

      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Run end-to-end tests
        run: |
          internal/scripts/ci_build_and_run_end_to_end_tests.sh

  end-to-end-tests-tunnel:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        tunnel: [zenoh]
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: stable

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba # version: v0.0.9

      - name: Set caching env vars on non-Windows
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Build tunnel CLI
        run: cargo build --release -p iceoryx2-cli --bin iox2-tunnel

      - name: Build test binaries
        run: cargo build --release -p iceoryx2-tunnel-end-to-end-tests

      - name: Build test docker image
        run: docker build -f iceoryx2-tunnel/end-to-end-tests/Dockerfile -t end-to-end-tests:${{ github.sha }} .

      - name: Run end-to-end tests
        run: |
          export IMAGE_TAG=${{ github.sha }}

          export PAYLOAD_TYPE=primitive
          docker compose -f iceoryx2-tunnel/end-to-end-tests/docker-compose.yml up \
            --abort-on-container-exit \
            --exit-code-from pinger

          export PAYLOAD_TYPE=complex
          docker compose -f iceoryx2-tunnel/end-to-end-tests/docker-compose.yml up \
            --abort-on-container-exit \
            --exit-code-from pinger

  x86_32:
    needs: [preflight-check, static-code-analysis, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-latest] # [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [stable] # [stable, 1.83.0, beta, nightly]
    uses: ./.github/workflows/reuse_x86_32.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      name: "debug"
      mode: "" # debug mode by default in cargo
      cmake-build-type: "-DCMAKE_BUILD_TYPE=Debug"

  x86_64:
    needs: [preflight-check, static-code-analysis, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        toolchain: [stable, 1.83.0]
        mode:
          - name: "debug"
            arg: ""
            cmake-build-type: "-DCMAKE_BUILD_TYPE=Debug" # required for Makefile Generators at config time
            cmake-build-config: "--config Debug" # required for Visual Studio at build and install time
        cargo-features-flag: ["", "--features libc_platform"]
        include:
          - os: windows-latest
            toolchain: stable
            cmake-cxx-flags: '-DCMAKE_CXX_FLAGS="/MP"'
          - os: ubuntu-latest
            toolchain: stable
        exclude:
          - os: windows-latest
            cargo-features-flag: "--features libc_platform"
          - os: macos-latest
            cargo-features-flag: "--features libc_platform"
    uses: ./.github/workflows/reuse_x86_64_stable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-name: ${{ matrix.mode.name }}
      mode-arg: ${{ matrix.mode.arg }}
      mode-cmake-build-type: ${{ matrix.mode.cmake-build-type }}
      mode-cmake-build-config: ${{ matrix.mode.cmake-build-config }}
      mode-cmake-cxx-flags: ${{ matrix.mode.cmake-cxx-flags }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_64-stable-release:
    needs: [preflight-check, static-code-analysis, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    uses: ./.github/workflows/reuse_x86_64_stable.yml
    with:
      os: ubuntu-latest
      toolchain: stable
      mode-name: "release"
      mode-arg: "--release"
      mode-cmake-build-type: "-DCMAKE_BUILD_TYPE=Release"
      mode-cmake-build-config: "--config Release"
      mode-cmake-cxx-flags: ""
      cargo-features-flag: ""

  x86_64_unstable:
    needs: [preflight-check, static-code-analysis, cargo-nextest]
    if: ${{ needs.changes.outputs.source-code == 'true' && github.ref != 'refs/heads/main' }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [nightly]
        mode:
          - name: "debug"
            arg: ""
    uses: ./.github/workflows/reuse_x86_64_unstable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-arg: ${{ matrix.mode.arg }}

  x86_64_bazel:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    strategy:
      matrix:
        os: [ubuntu-24.04]
        toolchain: [stable]
        bazel-mode: ["--enable_bzlmod", "--noenable_bzlmod"]
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy

      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@43d7d5ceab59a307da44fc7585faa2a2fff4f88d # version: 0.16.0

      - name: Run bazel build
        env:
          USE_BAZEL_VERSION: "7.4.1"
        run: bazel build //... ${{ matrix.bazel-mode }}

      - name: Run bazel test
        env:
          USE_BAZEL_VERSION: "7.4.1"
        run: bazel test //... ${{ matrix.bazel-mode }}

  variants:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    uses: ./.github/workflows/reuse_variants.yml

  cargo-publish-dry-run:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: stable

      - name: Update iceoryx2 version
        run: ./internal/scripts/update_versions.sh --iceoryx2 0.0.0

      - name: Cargo Publish Dry-Run
        run: ./internal/scripts/release/crates_io_publish_script.sh dry-run-allow-dirty

  coverage:
    needs: [preflight-check, static-code-analysis]
    if: ${{ needs.changes.outputs.source-code == 'true' }}
    uses: ./.github/workflows/reuse_coverage.yml

  # Have a sync point for all CI jobs that need to pass, will be enforced by Otterdog
  mandatory-checks:
    needs:
      [
        preflight-check,
        static-code-analysis,
        x86_64,
        x86_64_bazel,
        x86_32,
        variants,
        python-bindings,
        end-to-end-tests,
        cargo-publish-dry-run,
      ]
    runs-on: ubuntu-latest
    steps:
      - name: Mandatory Checks Sync
        run: echo "Sync point for collecting mandatory checks that need to pass for Pull-Requests"
