name: Nightly

on:
  schedule:
  - cron: "0 1 * * *" # Runs at 1 AM UTC timezone
  workflow_dispatch:


jobs:
  cargo-nextest-nightly:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1
      - name: Build and cache cargo-nextest
        uses: ./.github/actions/build-and-cache-rust-tool
        with:
          rust-toolchain: stable
          check-and-install-cmd: cargo-nextest --version > /dev/null || cargo install cargo-nextest --locked
          print-version-cmd: cargo-nextest --version
          # increment cache-N-${{}} if a new nextest version is required
          cache-key: cache-2-${{ runner.os }}-cargo-nextest
          artifact-bin-name: cargo-nextest
          artifact-upload-name: ${{ runner.os }}-cargo-nextest

  static-code-analysis-rust-nightly:
    strategy:
      matrix:
        os: [windows-latest]
        cargo-features-flag: [""]
    uses: ./.github/workflows/reuse_static_code_analysis.yml
    with:
      os: ${{ matrix.os }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_32-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [ubuntu-latest] # [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [stable] # [stable, 1.83.0, beta, nightly]
    uses: ./.github/workflows/reuse_x86_32.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      name: "release"
      mode: "release"
      cmake-build-type: "-DCMAKE_BUILD_TYPE=Release"

  x86_64-stable-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # NOTE: enable for MinGW
        # toolchain: [stable, stable-gnu, 1.83.0]
        toolchain: [stable, 1.83.0]
        mode:
          - name: "release"
            arg: "--release"
            cmake-build-type: "-DCMAKE_BUILD_TYPE=Release" # required for Makefile Generators at config time
            cmake-build-config: "--config Release" # required for Visual Studio at build and install time
        cargo-features-flag: ["", "--features libc_platform"]
        exclude:
          - os: ubuntu-latest # already tested in Pull-Requests and main branch
            cargo-features-flag: ""
          - os: windows-latest
            cargo-features-flag: "--features libc_platform"
          - os: macos-latest
            cargo-features-flag: "--features libc_platform"
    uses: ./.github/workflows/reuse_x86_64_stable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-name: ${{ matrix.mode.name }}
      mode-arg: ${{ matrix.mode.arg }}
      mode-cmake-build-type: ${{ matrix.mode.cmake-build-type }}
      mode-cmake-build-config: ${{ matrix.mode.cmake-build-config }}
      mode-cmake-cxx-flags: ${{ matrix.mode.cmake-cxx-flags }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_64_unstable-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [beta, nightly]
        mode:
          - name: "release"
            arg: "--release"
          - name: "debug"
            arg: ""
        exclude:
          - os: ubuntu-latest # Already run in Pull-Requests
            toolchain: [nightly]
            mode:
              - name: "debug"
                arg: ""
    uses: ./.github/workflows/reuse_x86_64_unstable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode-arg: ${{ matrix.mode.arg }}
