name: Nightly iceoryx2 run

on:
  schedule:
  - cron: "0 1 * * *" # Runs at 1 AM UTC timezone
  workflow_dispatch:


jobs:
  cargo-nextest-nightly:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4
      - name: Build and cache cargo-nextest
        uses: ./.github/actions/build-and-cache-rust-tool
        with:
          rust-toolchain: stable
          check-and-install-cmd: cargo-nextest --version > /dev/null || cargo install cargo-nextest --locked
          print-version-cmd: cargo-nextest --version
          # increment cache-N-${{}} if a new nextest version is required
          cache-key: cache-2-${{ runner.os }}-cargo-nextest
          artifact-bin-name: cargo-nextest
          artifact-upload-name: ${{ runner.os }}-cargo-nextest

  static-code-analysis-rust-nightly:
    strategy:
      matrix:
        os: [windows-latest]
        cargo-features-flag: [""]
    uses: ./.github/workflows/reuse_static_code_analysis.yml
    with:
      os: ${{ matrix.os }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  x86_32-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [ubuntu-latest] # [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [stable] # [stable, 1.83.0, beta, nightly]
    uses: ./.github/workflows/reuse_x86_32.yml
    with: 
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      name: "release"
      mode: "release"
      cmake-build-type: "-DCMAKE_BUILD_TYPE=Release"