name: Nightly

on:
  schedule:
  - cron: "0 1 * * *" # Runs at 1 AM UTC timezone
  workflow_dispatch:


jobs:
  cargo-nextest-nightly:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1
      - name: Build and cache cargo-nextest
        uses: ./.github/actions/build-and-cache-rust-tool
        with:
          rust-toolchain: stable
          check-and-install-cmd: cargo-nextest --version > /dev/null || cargo install cargo-nextest --locked
          print-version-cmd: cargo-nextest --version
          # increment cache-N-${{}} if a new nextest version is required
          cache-key: cache-2-${{ runner.os }}-cargo-nextest
          artifact-bin-name: cargo-nextest
          artifact-upload-name: ${{ runner.os }}-cargo-nextest

  static-code-analysis-rust-nightly:
    strategy:
      matrix:
        os: [windows-latest]
    uses: ./.github/workflows/reuse_static_code_analysis.yml
    with:
      os: ${{ matrix.os }}

  x86_32-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [ubuntu-latest] # [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [stable] # [stable, 1.83.0, beta, nightly]
    uses: ./.github/workflows/reuse_x86_32.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode: "release"
      cargo-profile: "--release"
      cmake-build-type: "-DCMAKE_BUILD_TYPE=Release"

  stable-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        toolchain: [stable, 1.83.0]
        mode: ["release", "debug"]
        include:
          - mode: "debug"
            cmake-build-type: "-DCMAKE_BUILD_TYPE=Debug" # required for Makefile Generators at config time
            cmake-build-config: "--config Debug" # required for Visual Studio at build and install time
            cargo-profile: ""
          - mode: "release"
            cmake-build-type: "-DCMAKE_BUILD_TYPE=Release" # required for Makefile Generators at config time
            cmake-build-config: "--config Release" # required for Visual Studio at build and install time
            cargo-profile: "--release"
          - cargo-features-flag: "--features iceoryx2/libc_platform"
            os: ubuntu-latest
            mode: "release"
          - os: windows-latest
            toolchain: stable
            cmake-cxx-flags: '-DCMAKE_CXX_FLAGS="/MP"'
        exclude:
          - os: ubuntu-latest # already tested in Pull-Requests and main branch
            toolchain: stable
            mode: "debug"
    uses: ./.github/workflows/reuse_x86_64_stable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      mode: ${{ matrix.mode }}
      cmake-build-type: ${{ matrix.cmake-build-type }}
      cmake-build-config: ${{ matrix.cmake-build-config }}
      cmake-cxx-flags: ${{ matrix.cmake-cxx-flags }}
      cargo-profile: ${{ matrix.mode.cargo-profile }}
      cargo-features-flag: ${{ matrix.cargo-features-flag }}

  unstable-nightly:
    needs: [static-code-analysis-rust-nightly, cargo-nextest-nightly]
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        toolchain: [beta, nightly]
        mode: ["release", "debug"]
        exclude:
          - mode: "debug"
            cargo-profile: ""
          - mode: "release"
            cargo-profile: "--release"
          - os: ubuntu-latest # Already run in Pull-Requests
            toolchain: beta
            mode: "debug"
          - os: ubuntu-latest # Already run in Pull-Requests
            toolchain: nightly
            mode: "debug"
    uses: ./.github/workflows/reuse_x86_64_unstable.yml
    with:
      os: ${{ matrix.os }}
      toolchain: ${{ matrix.toolchain }}
      cargo-profile: ${{ matrix.mode.cargo-profile }}
