name: Release

on:
  workflow_dispatch:

jobs:
  build-python-wheels:
    strategy:
      fail-fast: false
      matrix:
        os: 
          - ubuntu-latest
          - macos-latest          # aarch64
          - windows-latest
    defaults:
      run:
        shell: bash               # required for windows

    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Set Up Python & Install Poetry
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # version: v6.0.1
        with:
          python-version: "3.13"
      - run: pip install poetry==2.2.1

      - name: Install Global Plugins # (needed for windows due to separate C:\ and D:\ drives)
        if: runner.os == 'Windows'
        run: poetry self add "poethepoet[poetry-plugin]>=0.35.0,<0.36.0"

      - name: Build Wheel
        run: |
          poetry --project iceoryx2-ffi/python install
          poetry --project iceoryx2-ffi/python build-wheel

      - name: Upload Wheel
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # version: v6.0.0
        with:
          name: wheels-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}
          path: target/ff/python/dist
          retention-days: 7

  prepare-python-dist:
    needs: [build-python-wheels]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Set Up Python & Install Poetry
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # version: v6.0.1
        with:
          python-version: "3.13"
      - run: pip install poetry==2.2.1

      - name: Download Wheels
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # version: v7.0.0
        with:
          pattern: wheels-*-${{ github.sha }}
          path: dist
          merge-multiple: true

      - name: Build source distribution
        run: |
          # Build
          poetry --project iceoryx2-ffi/python install
          poetry --project iceoryx2-ffi/python build-sdist

          cp target/ff/python/dist/*.tar.gz dist/
          
          # Validate
          echo "Validating wheels..."
          if ls dist/*.whl 1> /dev/null 2>&1; then
            poetry --project iceoryx2-ffi/python run twine check dist/*.whl
          else
            echo "No wheel files to validate"
          fi

      - name: Upload Distribution
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # version: v6.0.0
        with:
          name: python-dist-${{ github.sha }}
          path: dist/
          retention-days: 7

      - name: Display distribution summary
        run: |
          echo "Generated Python dist with contents:"
          for file in dist/*; do
            if [ -f "$file" ]; then
              echo "$(basename "$file"): $(stat -c%s "$file") bytes"
            fi
          done
