name: Reusable workflow for build variants

on:
  workflow_call:

jobs:
  x86_64_nostd:
    strategy:
      matrix:
        os: [ubuntu-latest]
        toolchain: [stable]
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1 # ratchet:dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt, clippy
          targets: armv7r-none-eabihf

      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Build iceoryx2 (no_std)
        run: cargo build --package iceoryx2 --no-default-features

      - name: Build bare-metal examples (no_std)
        run: cd examples/nostd/bare-metal/rust && cargo build --examples && cd -

      - name: Build posix examples (no_std)
        run: cd examples/nostd/posix/rust && cargo build --examples && cd -

  x64_cxx_binding_vocabulary_types_variations:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # ratchet:actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1 # ratchet:dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Build iceoryx2-ffi-c
        run: cargo build --package iceoryx2-ffi-c

      - name: Build build and test iceoryx2 C++ bindings with C++23
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_CXX_STD_VERSION=23 \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=OFF \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=OFF
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::expected
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=ON \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=OFF
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::optional
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=OFF \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=ON
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::expected
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=ON \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=ON
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with custom vocabulary types
        run: |
          cmake -S examples/cxx/custom_vocabulary_types  -B target/ff/cc/custom_vocabulary_types
          cmake --build target/ff/cc/custom_vocabulary_types
          cmake --install target/ff/cc/custom_vocabulary_types --prefix target/ff/cc/install

          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_CUSTOM_VOCABULARY_TYPES=ON \
                -DIOX2_BB_CXX_CONFIG_CUSTOM_VOCABULARY_TYPES_CMAKE_TARGET="custom-vocabulary-types" \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc
