name: Reusable workflow for C++ Vocabulary Types

on:
  workflow_call:
jobs:
  x86_64_cxx_binding_vocabulary_types_variations:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: stable

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba # version: v0.0.9

      - name: Set caching env vars on non-Windows
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV
    
      - name: Prepare Linux
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Build iceoryx2-ffi-c
        run: cargo build --package iceoryx2-ffi-c

      - name: Build build and test iceoryx2 C++ bindings with C++23
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_CXX_STD_VERSION=23 \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=OFF \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=OFF \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::expected
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=ON \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=OFF \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::optional
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=OFF \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=ON \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with std::expected and std::optional
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_STD_EXPECTED=ON \
                -DIOX2_BB_CXX_CONFIG_USE_STD_OPTIONAL=ON \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc

      - name: Build and test iceoryx2 C++ bindings with custom vocabulary types
        run: |
          cmake -S examples/cxx/custom_vocabulary_types  -B target/ff/cc/custom_vocabulary_types
          cmake --build target/ff/cc/custom_vocabulary_types
          cmake --install target/ff/cc/custom_vocabulary_types --prefix target/ff/cc/install

          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DRUST_BUILD_ARTIFACT_PATH=$(pwd)/target/debug \
                -DIOX2_BB_CXX_CONFIG_USE_CUSTOM_VOCABULARY_TYPES=ON \
                -DIOX2_BB_CXX_CONFIG_CUSTOM_VOCABULARY_TYPES_CMAKE_TARGET="custom-vocabulary-types" \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build
          cmake --install target/ff/cc/build --prefix target/ff/cc/install

          target/ff/cc/build/tests/iceoryx2-bb-cxx-tests
          target/ff/cc/build/tests/iceoryx2-cxx-tests

          cmake -S examples/cxx \
                -B target/ff/cc/out-of-tree \
                -DCMAKE_PREFIX_PATH=${{ github.workspace }}/target/ff/cc/install \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/out-of-tree

          rm -rf target/ff/cc
