name: Reusable workflow for x86_64_unstable

on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      toolchain:
        required: true
        type: string
      profile:
        required: true
        type: string
      platform-binding:
        required: true
        type: string

jobs:
  x86_64:
    timeout-minutes: 90
    runs-on: ${{ inputs.os }}
    env:
      IOX2_PLATFORM_BINDING: ${{ inputs.platform-binding }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # version v6.0.1

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@802fa1a2c4e212495c05bf94dba2704a92a472be # version: v2.0.2
        with:
          cmake-version: "3.31.x"
      - name: Use cmake
        run: cmake --version

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9 # version: v1
        with:
          toolchain: ${{ inputs.toolchain }}

      - name: Download artifact cargo-nextest
        uses: ./.github/actions/download-cached-rust-tool
        with:
          artifact-bin-name: cargo-nextest
          artifact-upload-name: ${{ runner.os }}-cargo-nextest

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba # version: v0.0.9

      - name: Set caching env vars on non-Windows
        if: ${{ runner.os != 'Windows' }}
        run: |
          echo "SCCACHE_GHA_ENABLED=true" >> $GITHUB_ENV
          echo "RUSTC_WRAPPER=sccache" >> $GITHUB_ENV

      - name: Set caching env vars on Windows
        if: ${{ runner.os == 'Windows' }}
        run: |
          Add-Content -Path $env:GITHUB_ENV -Value "SCCACHE_GHA_ENABLED=true"
          Add-Content -Path $env:GITHUB_ENV -Value "RUSTC_WRAPPER=sccache"

      - name: Prepare Windows
        if: ${{ runner.os == 'Windows' }}
        run: internal\scripts\ci_prepare_windows.ps1

      - name: Prepare Linux
        if: ${{ runner.os == 'Linux' }}
        run: |
          internal/scripts/ci_prepare_ubuntu.sh
          uname -a

      - name: Additional setup for libc platform binding
        if: ${{ inputs.platform-binding == 'libc' }}
        run: sudo apt remove -y --purge '^libclang-.*-dev' # remove libclang to force a compile error if libc binding is not used correctly and bindgen is invoked

      - name: Save disk space
        uses: ./.github/actions/save-disk-space
        with:
          mode: "remove-unneeded-software-from-runner"

      - name: Set build flags
        id: set-build-flags
        uses: ./.github/actions/set-build-flags
        with:
          profile: ${{ inputs.profile }}

      - name: Run cargo build
        shell: bash
        run: |
          cargo build --workspace --all-targets ${{ steps.set-build-flags.outputs.cargo-build-mode }}

      - name: Run cargo nextest
        shell: bash
        run: |
          cargo nextest run --workspace --all-targets --no-fail-fast ${{ steps.set-build-flags.outputs.cargo-build-mode }}

      - name: Cleanup build artifacts
        uses: ./.github/actions/save-disk-space
        with:
          mode: "cleanup-rust-build-files-from-cargo-target-folder"

      - name: Print native libs of FFI target
        if: false # This step takes 1 to 2 minutes; only enable if there are linker issues with the FFI target
        run: |
          cd iceoryx2-ffi/c
          cargo rustc -q -- --print=native-static-libs

      - name: Build language bindings
        shell: bash
        run: |
          cmake -S . \
                -B target/ff/cc/build \
                -DBUILD_EXAMPLES=ON \
                -DBUILD_TESTING=ON \
                -DWARNING_AS_ERROR=ON \
                ${{ steps.set-build-flags.outputs.cmake-build-type }} \
                -DCMAKE_INSTALL_PREFIX=target/ff/cc/install \
                -DRUST_BUILD_ARTIFACT_PATH="${{ github.workspace }}/target/${{ inputs.profile }}" \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/cc/build ${{ steps.set-build-flags.outputs.cmake-build-config }}
          cmake --install target/ff/cc/build ${{ steps.set-build-flags.outputs.cmake-build-config }}

      - name: Run C++ iceoryx2-bb tests
        run: target/ff/cc/build/tests/iceoryx2-bb-cxx-tests

      - name: Run C language binding tests
        run: target/ff/cc/build/tests/iceoryx2-c-tests

      - name: Run C++ language binding tests
        run: target/ff/cc/build/tests/iceoryx2-cxx-tests

      - name: Remove language binding build artifacts
        shell: bash
        run: rm -rf target/ff/cc/build

      - name: Build C language binding examples in out-of-tree configuration
        shell: bash
        run: |
          cmake -S examples/c \
                -B target/ff/out-of-tree-c \
                ${{ steps.set-build-flags.outputs.cmake-build-type }} \
                -DCMAKE_PREFIX_PATH="${{ github.workspace }}/target/ff/cc/install" \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/out-of-tree-c ${{ steps.set-build-flags.outputs.cmake-build-config }}

      - name: Build C++ language binding examples in out-of-tree configuration
        shell: bash
        run: |
          cmake -S examples/cxx \
                -B target/ff/out-of-tree-cxx \
                ${{ steps.set-build-flags.outputs.cmake-build-type }} \
                -DCMAKE_PREFIX_PATH="${{ github.workspace }}/target/ff/cc/install" \
                -DCMAKE_C_COMPILER_LAUNCHER=sccache \
                -DCMAKE_CXX_COMPILER_LAUNCHER=sccache
          cmake --build target/ff/out-of-tree-cxx ${{ steps.set-build-flags.outputs.cmake-build-config }}
